<div class="container border border-1 mt-5">
  <%= form_with model: @post do |form| %>
    <div class="mb-2">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control", required: true %>
    </div>

    <div class="mb-2">
      <%= form.label :content, class: "form-label" %>
      <%= form.text_field :content, class: "form-control", required: true %>
    </div>

    <div class="mb-2">
      <%#= recaptcha_tags %>

      <% if @show_checkbox_recaptcha %>
        <%= recaptcha_tags(site_key: Rails.application.credentials.recaptcha_v2.site_key) %>
      <% else %>
        <%= recaptcha_v3(action: 'create_post') %>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.submit 'Create Post', class: "btn btn-primary" %>
      <%#= invisible_recaptcha_tags text: 'Submit form', class: "btn btn-primary" %>
    </div>

    <% @post.errors.full_messages.each do |message| %>
      <small class="text-danger my-3"><%= message %></small>
    <% end %>
  <% end %>
</div>
